.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  width: 175px;
  min-height: 60px;
  padding: 19px 38px;
  font-weight: 700;
  border-radius: 16px;
  color: var(--color-main);
  background-color: var(--color-accent);
  -webkit-transition: background-color .3s ease, border-color .3s ease;
  -o-transition: background-color .3s ease, border-color .3s ease;
  transition: background-color .3s ease, border-color .3s ease;
}

.btn_transparent {
  background-color: transparent;
}

.btn:focus {
  background-color: var(--color-accent_light);
  outline: none;
}

.btn:hover {
  background-color: var(--color-accent_light);
}

.btn:active {
  background-color: var(--color-accent_dark);
}
